@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HealthSync</h1>
    <p>HealthSync is an app dedicated to well-being, integrating advanced GPT artificial intelligence to provide personalized health guidance. By entering personal data, the app creates a unique profile, adapting to the specific needs of the user. It offers customized meal plans and exercise routines, helping to achieve goals in a balanced way. Additionally, it provides daily wellness tips and keeps users connected to an active community for support and sharing experiences. HealthSync aims to simplify the journey to a healthier life, bringing a personalized and intelligent approach to achieving and maintaining well-being.</p>
</div>
